<h1>Problems</h1>

<table>
  <tr>
    <th>Problems</th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= link_to problem.name, problem_pieces_path(problem) %></td>
  </tr>
<% end %>
</table>
