<h1>결과 비교</h1>

<% if @diffs.nil? %>
  현재 코드가 실행 중 입니다. 결과를 확인하기 위해 이 페이지를 새로고침 해 주세요.
<% else %>
  <table>
    <tr>
      <th>대상</th>
      <th>결과</th>
      <th>남기는 말</th>
    </tr>

    <% @diffs.each do |diff| %>
      <tr>
        <td><%= link_to File.basename(diff[:target].result.url), diff[:target].result.url %></td>
        <td><%= diff[:result] %></td>
        <td><%= diff[:target].comment %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<%= link_to '돌아가기', problem_pieces_path(@problem) %>
