<h1>Listing diff</h1>

<table>
  <tr>
    <th>target</th>
    <th>result</th>
  </tr>

<% @diffs.each do |diff| %>
  <tr>
    <td><%= diff[:target] %></td>
    <td><%= diff[:result] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', [@problem, @piece] %>
