<h1>Answer Checker</h1>
<div>
  <p>
  R의 사용법을 익히고 수업시간에 배운 알고리즘을 간단히 구현해 보기 위한 과제,<br />
    하지만 불분명한 과제 조건 때문에 잘 풀었는지 확인하는 것은 쉽지 않습니다.<br />
    과제 실행 결과를 서로 비교하여 자신이 얼마나 과제를 이해하고 구현하였는지 확인 할 수 있습니다.<br />
  </p>
</div>

<h2>사용법</h2>
<div>
  <ul>
    <li>
      숙제를 선택합니다.
    </li>
    <li>
      자신의 소스코드를 올립니다.
      소스코드는 실행 후에 바로 사라지고 실행 결과만 남습니다.
    </li>
    <li>
      자신의 코드가 실행되기를 기다립니다.
    </li>
    <li>
      실행 된 후에 실행 결과와 자신의 상태를 확인합니다.
    </li>
    <li>
      자신의 과제 진행 상황을 확인하기 위한 용도로만 사용하시기 바랍니다.
    </li>
  </ul>
</div>

<p>
<%= link_to '입장', problems_path %>
</p>
